.puppies {
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a {
      color: darkblue;
    }
    p {
      text-align: center;
  }
  &__photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  &__gallery {
    h3 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
